#visual_slide {
  position: relative;
}
#visual_slide > a {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 40;
  width: 22px;
  height: 37px;
  text-indent: -9999px;
  transform: translateY(-50%);
}
#visual_slide .prev {
  left: 106px;
  background: url(../images/slide_prev.png) no-repeat;
}
#visual_slide .next {
  right: 106px;
  background: url(../images/slide_next.png) no-repeat;
}
#visual_slide .control .control_containter {
  position: absolute;
  left: 50%;
  bottom: 40px;
  padding-right: 20px;
  z-index: 40;
  transform: translateX(-50%);
}
#visual_slide .control .control_containter .controler a {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 11px;
  height: 14px;
  text-indent: -9999px;
}
#visual_slide .control .control_containter .controler .play {
  background: url(../images/icon_play_M.png) no-repeat center;
  background-size: contain;
}
#visual_slide .control .control_containter .controler .pause {
  background: url(../images/slide_stop.png) no-repeat center;
}
#visual_slide .control .control_containter .controler .on {
  display: block;
}
#visual_slide .control .control_containter .pagination {
  display: flex;
}
#visual_slide .control .control_containter .pagination li a {
  display: block;
  width: 14px;
  height: 14px;
  text-indent: -9999px;
  background-color: #999;
  border-radius: 50%;
}
#visual_slide .control .control_containter .pagination li:first-child {
  margin-right: 10px;
}
#visual_slide .control .control_containter .pagination .on a {
  display: block;
  width: 40px;
  height: 14px;
  background-color: #2471C8;
  border-radius: 14px;
}
#visual_slide .slide_container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 590px;
}
#visual_slide .slide_container ul.slides {
  display: flex;
  position: relative;
  width: 200%;
}
#visual_slide .slide_container ul.slides li {
  width: 100%;
}
#visual_slide .slide_container ul.slides li a {
  overflow: hidden;
  display: block;
  position: relative;
  height: 590px;
}
#visual_slide .slide_container ul.slides li a img {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 1920px;
  width: 1920px;
  height: 590px;
  transform: translateX(-50%);
}

#search_store {
  position: relative;
  width: 100%;
  height: 163px;
  background: url(../images/bg_sch.jpg);
}
#search_store div {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 619px;
  transform: translate(-50%, -50%);
}
#search_store div p {
  color: #fff;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
}
#search_store div input {
  margin: 0 10px 0 32px;
  width: 440px;
  height: 30px;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-indent: 0;
  background-color: transparent;
  border-bottom: 2px solid #fff;
}
#search_store div input::-moz-placeholder {
  color: #cedff2;
  font-size: 20px;
}
#search_store div input:-ms-input-placeholder {
  color: #cedff2;
  font-size: 20px;
}
#search_store div input::placeholder {
  color: #cedff2;
  font-size: 20px;
}
#search_store div button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(../images/icon_sch.png) no-repeat transparent;
  background-color: transparent;
}

#job_area {
  padding: 20px 0;
  background-color: #f6f7fa;
}
#job_area .job_images {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1100px;
}
#job_area .job_images div {
  margin: 0 5px;
  width: 540px;
}
#job_area .job_images div a img {
  display: block;
  max-width: 100%;
  height: auto;
}

#service {
  padding: 80px 0;
}
#service > h2 {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 50px;
  color: #000;
  font-weight: normal;
  font-size: 37px;
  line-height: 100%;
  text-align: center;
}
#service > h2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 74px;
  width: 25px;
  height: 7px;
  background: url(../images/icon_h2_blue.png) no-repeat;
  transform: translateX(-50%);
}
#service .service_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1100px;
}
#service .service_container .service_left {
  margin-right: 20px;
}
#service .service_container .service_left > a {
  display: block;
  position: relative;
  width: 740px;
  height: auto;
}
#service .service_container .service_left > a:first-child {
  margin-bottom: 20px;
}
#service .service_container .service_left > a > .text {
  position: absolute;
  left: 50px;
  top: 45px;
}
#service .service_container .service_left > a > .text h3 {
  width: 78px;
  height: 26px;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  background-color: #2471C8;
  border-radius: 26px;
}
#service .service_container .service_left > a > .text p:first-of-type {
  margin: 13px 0 10px 0;
  color: #000;
  font-size: 26px;
  line-height: 29px;
  letter-spacing: -1px;
}
#service .service_container .service_left > a > .text p:last-of-type {
  color: #747474;
  font-size: 14px;
}
#service .service_container .service_left > a > .text span {
  display: block;
  margin-top: 70px;
  color: #333;
  font-size: 14px;
  text-decoration: underline;
}
#service .service_container .service_left > a .thum img {
  display: block;
  max-width: 100%;
  height: auto;
}
#service .service_container .service_left > a:last-child h3 {
  width: 57px;
}
#service .service_container .service_right a div img {
  display: block;
  max-width: 100%;
  height: auto;
}

#message {
  position: relative;
}
#message .msg_tit {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1100px;
  text-align: center;
  transform: translate(-50%, -50%);
}
#message .msg_tit p:first-child {
  margin-bottom: 21px;
  color: #fff;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  line-height: 100%;
}
#message .msg_tit p:last-child {
  color: #fff;
  font-weight: 500;
  font-size: 31px;
  line-height: 100%;
}
#message .msg_img {
  width: 100%;
  height: 320px;
  background: url(../images/story.jpg) no-repeat center;
}

#franchise {
  position: relative;
  height: 730px;
  background-color: #f6f7fa;
}
#franchise h2 {
  position: relative;
  padding: 70px 0 40px;
  margin-bottom: 50px;
  color: #121212;
  font-weight: normal;
  font-size: 38px;
  text-align: center;
  line-height: 100%;
  letter-spacing: -1px;
}
#franchise h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 7px;
  background: url(../images/icon_h2_blue.png) no-repeat;
  transform: translateX(-50%);
}
#franchise .franchise_container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
#franchise .franchise_container .frc_wrap {
  display: flex;
  justify-content: space-around;
}
#franchise .franchise_container .frc_wrap .frc_item {
  display: inline-block;
  margin-right: 20px;
}
#franchise .franchise_container .frc_wrap .frc_item:last-child {
  margin: 0;
}
#franchise .franchise_container .frc_wrap .frc_item a {
  display: block;
  position: relative;
  width: 352px;
  height: auto;
  background-color: #fff;
}
#franchise .franchise_container .frc_wrap .frc_item a .thum {
  height: 220px;
}
#franchise .franchise_container .frc_wrap .frc_item a .thum .thum_bg {
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #5389c3, #5389c3 60%, rgba(162, 219, 156, 0.6274509804) 85%, rgba(162, 219, 156, 0.6274509804));
  opacity: 0.6;
}
#franchise .franchise_container .frc_wrap .frc_item a .thum_1 {
  background: url(../images/thum01.jpg) no-repeat;
}
#franchise .franchise_container .frc_wrap .frc_item a .thum_2 {
  background: url(../images/thum02.jpg) no-repeat;
}
#franchise .franchise_container .frc_wrap .frc_item a .thum_3 {
  background: url(../images/thum03.jpg) no-repeat;
}
#franchise .franchise_container .frc_wrap .frc_item a h3 {
  margin: 33px 0 65px 0;
  color: #121212;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -1px;
}
#franchise .franchise_container .frc_wrap .frc_item a p {
  padding-bottom: 40px;
  color: #333;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
}
#franchise .franchise_container .frc_wrap .frc_item a:hover {
  background-color: #8ed585;
}
#franchise .franchise_container .frc_wrap .frc_item a:hover > h3,
#franchise .franchise_container .frc_wrap .frc_item a:hover p {
  color: #fff;
}
#franchise .franchise_container .frc_wrap .frc_item a:hover .thum_bg {
  display: block;
}

@media (min-width: 768px) and (max-width: 1100px) {
  #job_area {
    padding: 20px;
  }
  #job_area .job_images {
    width: 100%;
  }
  #job_area .job_images div {
    margin: 0 10px;
  }

  #service .service_container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  #service .service_container .service_left a {
    width: 100%;
  }
  #service .service_container .service_left a .text span {
    margin-top: 5%;
  }
  #service .service_container .service_left a .thum img {
    width: 100%;
  }

  #franchise {
    overflow: hidden;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }
  #franchise .franchise_container {
    overflow: hidden;
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */